@charset "utf-8";


/* intro(main-visual)
----------------------------------------------- */

.intro {
	position: relative;
	height: 868px;
	overflow: hidden;
	z-index: 1;
}
.intro__images {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}
.intro__image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
}
.intro__mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,24,36,0.15);
	z-index: 1;
}
.intro__fade {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	opacity: 0;
	z-index: 1;
}
.intro__nav {
	position: absolute;
	top: 38px;
	right: 40px;
	z-index: 1;
}
.intro__lists {
	padding: 0 0 21px;
}
.intro__list {
	margin: 0 0 6px;
	font-family: "Crimson Text", serif;
	font-size: 23px;
	text-align: right;
	letter-spacing: 0.05em;
}
.intro__list a {
	display: inline-block;
	color: #fff;
	text-decoration: none;
}
.intro__list--small {
	margin: 0 0 8px;
	font-size: 18px;
	letter-spacing: 0.05em;
}
.intro__scroll {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 1px;
	height: 30px;
	overflow: hidden;
	z-index: 1;
}
.intro__scroll:after {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 1;
	animation-name: scroll;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
.intro__title {
	position: absolute;
	top: 50%;
	left: 50%;
    width: 607px; /* font-sizeが90pxのときにカラム落ちしない最小の幅 */
	transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    margin: auto;
	color: #fff;    
	font-family: "Didot", serif;
	z-index: 1;
}
.intro__name {
}
.intro__name span {
	display: inline-block;
	font-size: 90px;
	letter-spacing: 0.1em;
	overflow: hidden;
}
.intro__name span:last-child {
	margin: 0 0 0 15px;
}
.intro__name i {
	display: inline-block;
	font-style: normal;
}
.intro__label {
	font-size: 45px;
	letter-spacing: 0.01em;
	overflow: hidden;
}
.intro__label span {
    display: block;
    text-align: right;
}

/* ready */

.js-intro-ready .intro__image {
	opacity: 0;
	transform: rotate(0.09deg) scale(1.1);
}
.js-intro-ready .intro__name span i:nth-child(odd) {
	transform: translateY(100%);
}
.js-intro-ready .intro__name span i:nth-child(even) {
	transform: translateY(-100%);
}
.js-intro-ready .intro__label span {
	transform: translateY(100%);
}
.js-intro-ready .intro__list {
	opacity: 0;
	transform: translateX(250px);
}

/* start */

.js-intro-start .intro__image:last-child {
	opacity: 1;
	transform: rotate(0deg) scale(1);
	transition-property: opacity, transform;
	transition-duration: 4s;
	transition-delay: 0.5s;
	transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}
.js-intro-start .intro__name span i:nth-child(odd),
.js-intro-start .intro__name span i:nth-child(even) {
	transform: translateY(0);
	transition-property: transform;
	transition-duration: 1s;
	transition-delay: 1s;
	transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}
.js-intro-start .intro__name span i:nth-child(1) {
	transition-delay: 1s;
}
.js-intro-start .intro__name span i:nth-child(2) {
	transition-delay: 1.05s;
}
.js-intro-start .intro__name span i:nth-child(3) {
	transition-delay: 1.1s;
}
.js-intro-start .intro__name span i:nth-child(4) {
	transition-delay: 1.15s;
}
.js-intro-start .intro__name span i:nth-child(5) {
	transition-delay: 1.2s;
}
.js-intro-start .intro__name span i:nth-child(6) {
	transition-delay: 1.25s;
}
.js-intro-start .intro__label span {
	transform: translate(0);
	transition-property: opacity, transform;
	transition-duration: 1s;
	transition-delay: 1.25s;
	transition-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
}
.js-intro-start .intro__list {
	opacity: 1;
	transform: translate(0);
	transition-property: opacity, transform;
	transition-duration: 1.5s;
	transition-delay: 1.25s;
	transition-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
}
.js-intro-start .intro__list:nth-child(1) {
	transition-delay: 1.25s;
}
.js-intro-start .intro__list:nth-child(2) {
	transition-delay: 1.3s;
}
.js-intro-start .intro__list:nth-child(3) {
	transition-delay: 1.35s;
}
.js-intro-start .intro__list:nth-child(4) {
	transition-delay: 1.4s;
}
.js-intro-start .intro__list:nth-child(5) {
	transition-delay: 1.45s;
}




/* news
----------------------------------------------- */

.news {
	margin: 100px auto 0;
	width: 1000px;
}
.news__column {
	display: flex;
}
.news__title {
	width: 250px;
	font-family: "Didot", serif;
	font-size: 40px;
	letter-spacing: 0.02em;
}
.news__title span {
	display: block;
}
.news__lists {
	margin: 0;
	width: calc(100% - 250px);
}
.news__lists li a {
    display: block;
    position: relative;
    padding-bottom: 15px;
}
.news__lists li a:before,
.news__lists li a:after {
    display: block;
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1px;
	background-color: #919090;
	z-index: 1;
}
.news__lists li a:after {
	transform: translateX(-250%);
}
.news__lists li a,
.news__lists li a:before,
.news__lists li a:after {
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
}
.news__lists li a {
    transition-duration: 0.25s;
}
.news__lists li a:hover:before {
    transform: translateX(250%);
}
.news__lists li a:hover:after {
    transform: translateX(0);
}
.news__lists li:nth-child(1) {
	margin-bottom: 8px;
}
.news__list {
	margin: 0 0 7px;
	font-size: 14px;
	font-weight: 500;
	/* text-overflow: ellipsis; */
	letter-spacing: 0.02em;
	line-height: 18px;
	overflow: hidden;
}
.news__list a {
	display: inline-block;
	padding: 5px 0;
	color: #272727;
	text-decoration: none;
}
.news__list time {
	display: block;
	width: 85px;
	color: #919090;
}
.news__list span {
	display: inline-block;
	letter-spacing: 0.08em;
}
.news__list span .caution{
    display: inline;
    color: #f00;
}

/* more */

.news .more {
	padding: 9px 0 0;
	text-align: right;
}

/* indicate */

.js-indicate-start.news__list:nth-child(1) {
	animation-delay: 0s;
}
.js-indicate-start.news__list:nth-child(2) {
	animation-delay: 0.05s;
}
.js-indicate-start.news__list:nth-child(3) {
	animation-delay: 0.1s;
}
.js-indicate-start.news__list:nth-child(4) {
	animation-delay: 0.15s;
}
.js-indicate-start.news__list:nth-child(5) {
	animation-delay: 0.2s;
}
.js-indicate-start.news__list:nth-child(6) {
	animation-delay: 0.25s;
}


/* profileenter
----------------------------------------------- */

.profileenter {
	position: relative;
	margin: 200px auto 0;
	width: 1000px;
	height: 920px;
	z-index: 2;
}
.profileenter__title {
	position: absolute;
	top: -70px;
	right: -170px;
	font-family: "Didot", serif;
	font-size: 45px;
	letter-spacing: 0.03em;
	white-space: nowrap;
	line-height: 54px;
	z-index: 2;
	transform: rotate(90deg);
	transform-origin: left bottom;
}
.profileenter__title span {
	display: block;
}
.profileenter__contents{
    height: 800px;
}
.profileenter__image {
	z-index: 1;
}
.profileenter__image a {
	display: block;
	position: relative;
	width: 700px;
	height: 561px;
	overflow: hidden;
	z-index: 1;
}
.profileenter__image span {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-indent: 100%;
	white-space: nowrap;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	z-index: 1;
}
.profileenter__image span:after {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	opacity: 0;
	z-index: 1;
}

.profileenter__detail {
    position: absolute;
    top: 450px;
    right: 0;
    width: 600px;
    height: 350px;
    padding: 0 130px;
    background-color: #F4F2EF;
}
.profileenter__detail__lists{
    display: flex;
    justify-content: space-between;
}
.profileenter__detail__lists ul{
    margin-top: 130px;
}
.profileenter__detail__lists ul li{
    font-family: "Crimson Text", serif;
    font-size: 20px;
    padding-bottom: 15px;
}
.profileenter__detail .more{
    text-align: right;
}

/* ready */

/* .js-indicate-ready.profileenter__image:after {
	display: block;
	content: "";
	position: absolute;
	top: -5%;
	left: -15%;
	right: -15%;
	bottom: -5%;
	background-color: #fff;
	z-index: 1;
	transform: rotate(0.09deg) skewX(10deg);
} */

.js-indicate-ready.profileenter__contents:after {
	display: block;
	content: "";
	position: absolute;
	top: -5%;
	left: -15%;
	right: -15%;
	bottom: -5%;
	background-color: #fff;
	z-index: 1;
	transform: rotate(0.09deg) skewX(10deg);
}

/* start */

/* .js-indicate-start.profileenter__image:after {
	transform: rotate(0deg) skewX(10deg) translateX(-100%);
	transition-property: transform;
	transition-duration: 1.5s;
	transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
} */

.js-indicate-start.profileenter__contents:after {
	transform: rotate(0deg) skewX(10deg) translateX(-100%);
	transition-property: transform;
	transition-duration: 1.5s;
	transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
}


/* pc
----------------------------------------------- */

@media print, screen and (min-width:1000px) {


	/* body
	----------------------------------------------- */
	
	body {
	}


	/* intro
	----------------------------------------------- */

	.intro__image--no01 {
		background-image: url("../images/main-visual-05.jpg");
	}
	.intro__image--no02 {
		background-image: url("../images/main-visual-03.jpg");
	}
	.intro__image--no03 {
		background-image: url("../images/main-visual-01.jpg");
	}
	.intro__list a {
		position: relative;
		z-index: 1;
		transition-property: opacity;
		transition-duration: 0.25s;
	}
	.intro__list a:after {
		display: block;
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: -1;
		height: 1px;
		background-color: #fff;
		z-index: 1;
		transform: scaleX(0);
		transform-origin: right;
		transition-property: transform;
		transition-duration: 0.25s;
	}

	/* hover */

	.intro__list a:hover {
		opacity: 0.6;
	}
	.intro__list a:hover:after {
		transform: scaleX(1);
		transform-origin: left;
	}

	/* wide */

	.js-intro-wide .intro__image--no01 {
		background-image: url("../images/main-visual-05.jpg");
	}
	.js-intro-wide .intro__image--no02 {
		background-image: url("../images/main-visual-04.jpg");
	}
	.js-intro-wide .intro__image--no03 {
		background-image: url("../images/main-visual-02.jpg");
	}



	/* news
	----------------------------------------------- */

	.news__list span {
		position: relative;
		z-index: 1;
		transition-property: opacity;
		transition-duration: 0.25s;
	}
	.news__list span:after {
		display: block;
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: -2px;
		height: 1px;
		background-color: #000;
		z-index: 1;
		transform: scaleX(0);
		transform-origin: right;
		transition-property: transform;
		transition-duration: 0.35s;
	}

	/* hover */

	.news__list a:hover span {
		opacity: 0.6;
	}
	/* .news__list a:hover span:after {
		transform: scaleX(1);
		transform-origin: left;
	} */


	/* profileenter
		----------------------------------------------- */

	.profileenter__image span {
		background-image: url("../images/profile_image.jpg");
	}

	/* hover */

	.js-indicate-end .profileenter__image a:hover span:after {
		animation-name: flashfade;
		animation-duration: 1s;
	}


}


/* スマホ限定のスタイル */
@media only screen and (max-width: 599px) {
    .intro__nav {
		display: none;
	}
    .intro__title {
        width: 266px !important;
    }
    .intro__name span {
        font-size: 40px !important;
    }
    .intro__label {
        font-size: 20px !important;
    }

    /* profileenter
	----------------------------------------------- */
    .profileenter__title {
        left: 77% !important;
    }
    .profileenter__detail {
        width: 90%;
        padding: 50px;
    }
    .profileenter__detail__lists ul {
        margin-top: 90px;
        margin-bottom: 20px;
    }
    .profileenter__detail__lists ul li {
        font-size: 16px;
    }
}


/* 1000px以下のときの共通スタイル
----------------------------------------------- */

@media only screen and (max-width:1000px) {


	/* body
	----------------------------------------------- */
	
	body {
	}


	/* intro
	----------------------------------------------- */
	
	.intro {
		height: 667px;
	}
	.intro__image--no01 {
		background-image: url("../images/main-visual-05.jpg");
	}
	.intro__image--no02 {
		background-image: url("../images/main-visual-04.jpg");
	}
	.intro__image--no03 {
		background-image: url("../images/main-visual-02.jpg");
	}
	.intro__nav {
		/* display: none; */
	}
	.intro__title {
        width: 396px;
	}
	.intro__name span {
		font-size: 60px;
		letter-spacing: 0.1em;
	}
	.intro__name span:last-child {
		margin: 21px 0 0;
		letter-spacing: 0.1em;
	}
	.intro__label {
		font-size: 35px;
		letter-spacing: 0.01em;
	}


	/* news
	----------------------------------------------- */
	
	.news {
		margin: 103px 25px 0;
		width: auto;
	}
	.news__column {
		display: block;
	}
	.news__title {
		position: relative;
		padding: 0 0 6px;
		width: auto;
        text-align: center;
		font-size: 33px;
		z-index: 1;
        margin-bottom: 100px;
        letter-spacing: 0.15em;
	}
    .news__title:after {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 60px 0 0 -35px;
        width: 70px;
        height: 2px;
        background-color: #000;
        z-index: 1;
    }
	.news__lists {
		margin: 30px 0 0;
		width: auto;
	}
	.news__lists li:nth-child(1) {
		margin-bottom: 10px;
	}
	.news__list {
		margin: 0 0 10px;
		font-size: 13px;
		white-space: normal;
		overflow: visible;
	}
	.news__list a {
		display: block;
	}
	.news__list time {
		width: auto;
	}
	.news__list span {
		display: block;
		margin: 5px 0 0;
		width: auto;
	}
	
	/* more */
	
	.news .more {
		padding: 26px 0 0;
	}

	/* ready */

	.js-indicate-ready.news__title:after {
		transform: scaleX(0);
		transform-origin: left;
	}

	/* start */

	.js-indicate-start.news__title:after {
		transform: scaleX(1);
		transition-property: transform;
		transition-duration: 0.85s;
		transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
	}


	/* profileenter
	----------------------------------------------- */
	
	.profileenter {
		margin: 135px 0 0;
		width: auto;
		height: auto;
	}
	.profileenter__title {
		top: -45px;
		left: 78.7%;
		font-size: 30px;
		line-height: 35px;
	}
	.profileenter__image {
		position: static;
		margin: 0 19.4% 0 0;
		width: auto;
	}
	.profileenter__image a {
		width: 100%;
		height: 396px;
	}
	.profileenter__image span {
		background-image: url("../images/profile_image.jpg");
	}
    .profileenter__detail {
        top: 300px;
    }

}
	


/* keyframes
----------------------------------------------- */

@keyframes scroll {
	25% {
		transform: translateY(100%);
	}
	25.1% {
		transform: translateY(-100%);
	}
	50% {
		transform: translateY(-100%);
	}
	75% {
		transform: translateY(0%);
	}
}

