@charset "utf-8";

/* profile
----------------------------------------------- */

.profile {
	margin: auto;
	max-width: 1000px;
}
.profile__title {
	display: none;
}
.profile__columns {
	display: flex;
	justify-content: space-between;
}
.profile__column:first-child {
	width: 280px;
    margin-right: 40px;
}
.profile__column:last-child {
	width: 590px;
}
.profile__image {
    margin-bottom: 60px;
    z-index: 1;
}
.profile__image span.image__box {
    position: relative;
    display: block;
    width: 280px;
    height: 280px;
    overflow: hidden;
    border-radius: 50%;
    z-index: 1;
}
.profile__image span.abe__image {
    display: block;
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-indent: 100%;
	white-space: nowrap;
    background-position: top;
	background-size: cover;
	overflow: hidden;
    background-image: url("../images/profile_contents_image.jpg");
    z-index: 1;
}
.profile__image span.abe__image:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0;
    z-index: 1;
}
.profile__name {
	color: #0A0A0A;
	font-family: "Noto Serif JP", serif;
	font-size: 35px;
	letter-spacing: 0.18em;
    text-align: center;
}
.profile__name small {
	display: block;
	margin: 28px 0 0;
	font-family: "Crimson Text", serif;
	font-size: 22px;
	letter-spacing: 0.14em;
}
.profile__data {
	margin: 83px 0 0;
}
.profile__data table {
	width: 100%;
	text-align: left;
	border-bottom: 1px solid #E2E2E2;
}
.profile__data caption {
	margin: 0 0 12px;
	font-family: "Crimson Text", serif;
	font-size: 14px;
	text-align: left;
	letter-spacing: 0.01em;
}
.profile__data th,
.profile__data td {
	padding: 11px 0 10px;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0.1em;
	vertical-align: top;
	border-top: 1px solid #E2E2E2;
}
.profile__data th {
	width: 28%;
	color: #464646;
}
.profile__data td {
	width: 72%;
	padding-left: 12px;
	color: #464646;
	font-weight: 500;
	border-left: 1px solid #E2E2E2;
}
.profile__section {
    margin-bottom: 50px;
}
.profile__section h2{
    color: #0A0A0A;
    font-family: "Noto Serif JP", serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.profile__text, .profile__award__list {
	font-size: 13px;
	text-align: justify;
	letter-spacing: 0.02em;
	line-height: 26px;
}
.profile__award__list {
    list-style-type: disc;
}
.profile__award__list li {
    display: list-item; /* liタグはdisplay:blockだと点が表示されない */
    list-style-type: none;
    line-height: 26px;
}
.profile__award__list li:before {
    content: '';
    width: 2px;
    height: 2px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    position: relative;
    left: -10px;
    top: -3px;
}



/* pc
----------------------------------------------- */
@media print, screen and (min-width:1000px) {
}



/* スマホ限定のスタイル
----------------------------------------------- */
@media only screen and (max-width: 599px) {

    /* profile
	----------------------------------------------- */
	
	.profile {
		margin: 0 25px;
		width: auto;
	}
	.profile__columns {
		display: block;
	}
    .profile__column:first-child {
        margin-right: 0;
    }
    .profile__column:last-child {
        margin-top: 70px;
    }
	.profile__column:first-child,
	.profile__column:last-child {
		width: auto;
	}
    .profile__image span.image__box {
        margin: 0 auto;
        width: 240px;
        height: 240px;
    }
	.profile__name {
		font-size: 30px;
		letter-spacing: 0.18em;
	}
	.profile__name small {
		margin: 14px 0 0 0;
		font-size: 16px;
		letter-spacing: 0.13em;
	}
	.profile__data {
		margin: 72px 0 0;
	}
	.profile__data caption {
		margin: 0 0 12px;
	}
	.profile__data th,
	.profile__data td {
	}
	.profile__data th {
		width: 25%;
	}
	.profile__data td {
		width: 75%;
		padding-left: 12px;
	}
    .profile__section h2{
        font-size: 24px;
    }
	.profile__text {
		font-size: 14px;
		line-height: 25px;
	}
	.profile__text:first-child {
		margin: 90px 0 0;
	}

}

/* タブレット限定のレイアウト
----------------------------------------------- */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .profile {
        padding: 0 20px !important;
    }
    .profile__column:first-child {
        width: 240px;
    }
    .profile__column:last-child {
        width: 400px;
    }
    .profile__image span.image__box {
        width: 240px;
        height: 240px;
    }
    .profile__name {
		font-size: 30px;
		letter-spacing: 0.18em;
	}
	.profile__name small {
		font-size: 16px;
		letter-spacing: 0.13em;
	}
    .profile__section h2{
        font-size: 24px;
    }
}

/* 1000px以下のときの共通スタイル
----------------------------------------------- */

@media only screen and (max-width: 1000px) {
    .profile {
        padding: 0 10px;
    }
    
}