@charset "utf-8";

/* publication
----------------------------------------------- */
.publication {
    max-width: 1000px;
    margin: 0 auto;
}
.publication__title {
    display: none;
}
.publication__type {
    font-family: "Noto Serif JP", serif;
    font-size: 30px;
    text-align: center;
}
.publication__lists {
    margin: 50px 0;
}
.publication__lists li a {
    display: flex;
    position: relative;
    padding: 20px 0;
}
.publication__lists li a:before,
.publication__lists li a:after {
    display: block;
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
    width: 100%;
	height: 1px;
	background-color: #919090;
	z-index: 1;
}
.publication__lists li a:after {
	transform: translateX(-250%);
}
.publication__lists li a,
.publication__lists li a:before,
.publication__lists li a:after {
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
}
.publication__lists li:first-child:before,
.publication__lists li:first-child:after {
    display: block;
	content: "";
	position: absolute;
    top: 0;
	left: 0;
    width: 100%;
	height: 1px;
	background-color: #919090;
	z-index: 1;
}
.publication__lists li a {
    transition-duration: 0.25s;
}
.publication__list a {
    display: inline-block;
	color: #272727;
    text-decoration: none;
}
.publication__image {
    width: 280px;
    height: 280px;
    margin-right: 30px;
    background-color: #E5E5E5;
}
.publication__image img {
    width: 280px;
    height: 280px;
    object-fit: contain;
}
.publication__title__h3 {
    font-family: "Noto Serif JP", serif;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
.publication__title__h3:before {
    content: "「";
}
.publication__title__h3:after {
    content: "」";
}
.publication__explanation p{
    line-height: 24px;
}
.publication__explanation span.caution {
    display: inline;
    color: #f00;
}

/* indicate */

.js-indicate-start.publication__list:nth-child(1) {
	animation-delay: 0s;
}
.js-indicate-start.publication__list:nth-child(2) {
	animation-delay: 0.05s;
}
.js-indicate-start.publication__list:nth-child(3) {
	animation-delay: 0.1s;
}
.js-indicate-start.publication__list:nth-child(4) {
	animation-delay: 0.15s;
}
.js-indicate-start.publication__list:nth-child(5) {
	animation-delay: 0.2s;
}
.js-indicate-start.publication__list:nth-child(6) {
	animation-delay: 0.25s;
}

/* スマホ限定のスタイル */
@media only screen and (max-width: 599px) {
    .publication__lists li a {
        display: block;
    }
    .publication__image {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .publication__image img {
        width: 100%;
    }
}

/* タブレット限定のレイアウト
----------------------------------------------- */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .publication__image {
        width: 200px;
        height: 200px;
    }
    .publication__image img {
        width: 200px;
        height: 200px;
    }
}

/* 1000px以下のときの共通スタイル
----------------------------------------------- */

@media only screen and (max-width:1000px) {
    .publication {
        padding: 0 20px;
    }
    .publication__title__h3 {
        font-size: 18px;
    }
    .publication__explanation p{
        font-size: 14px;
        line-height: 22px;
    }
}