.al_entries {
	line-height: 28px;
	font-size: 14px;
}

.al_entries p {
	line-height: 28px;
	font-size: 14px;
}

.al_entries a {
	padding: 0;
	display: inline;
	text-decoration: underline;
}

.al_entries .txt2 {
	margin-top: 0px;
	padding-top: 10px;
}
.al_entries .txt2 a {
	padding: 0;
	display: inline;
	text-decoration: underline;
}
.al_entries .phot {
	padding:10px 0 10px 0;
	margin-top: 0px;
}
.al_entries .imgL {
	text-align:left;
	margin-right: 20px;
}
.al_entries .imgC img {
	margin:0 auto;
}
.al_entries .imgR img {
	float:right;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video-wrapper {
	width: 900px;
	max-width: 100%;
}
