@charset "utf-8";

/* profile
----------------------------------------------- */

.profile {
	margin: auto;
	width: 980px;
}
.profile__title {
	display: none;
}
.profile__columns {
	display: flex;
	justify-content: space-between;
}
.profile__column:first-child {
	width: 280px;
}
.profile__column:last-child {
	width: 590px;
}
.profile__name {
	color: #0A0A0A;
	font-family: "Noto Serif JP", serif;
	font-size: 35px;
	letter-spacing: 0.18em;
}
.profile__name small {
	display: block;
	margin: 28px 0 0;
	font-family: "Crimson Text", serif;
	font-size: 22px;
	letter-spacing: 0.14em;
}
.profile__data {
	margin: 83px 0 0;
}
.profile__data table {
	width: 100%;
	text-align: left;
	border-bottom: 1px solid #E2E2E2;
}
.profile__data caption {
	margin: 0 0 12px;
	font-family: "Crimson Text", serif;
	font-size: 14px;
	text-align: left;
	letter-spacing: 0.01em;
}
.profile__data th,
.profile__data td {
	padding: 11px 0 10px;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0.1em;
	vertical-align: top;
	border-top: 1px solid #E2E2E2;
}
.profile__data th {
	width: 28%;
	color: #868686;
}
.profile__data td {
	width: 72%;
	padding-left: 12px;
	color: #464646;
	font-weight: 500;
	border-left: 1px solid #E2E2E2;
}
.profile__text {
	font-size: 13px;
	text-align: justify;
	letter-spacing: 0.02em;
	line-height: 26px;
	margin-top:20px;
}
.profile__text:first-child {
	margin: -5px 0 0;
}


/* pc
----------------------------------------------- */

@media print, screen and (min-width:1000px) {

    
}



/* mobile
----------------------------------------------- */

@media only screen and (max-width:1000px) {

    /* profile
	----------------------------------------------- */
	
	.profile {
		margin: 0 25px;
		width: auto;
	}
	.profile__columns {
		display: block;
	}
	.profile__column:first-child,
	.profile__column:last-child {
		width: auto;
	}
	.profile__name {
		font-size: 30px;
		letter-spacing: 0.18em;
	}
	.profile__name small {
		display: inline-block;
		margin: 0 0 0 3px;
		font-size: 16px;
		letter-spacing: 0.13em;
	}
	.profile__data {
		margin: 72px 0 0;
	}
	.profile__data caption {
		margin: 0 0 12px;
	}
	.profile__data th,
	.profile__data td {
	}
	.profile__data th {
		width: 25%;
	}
	.profile__data td {
		width: 75%;
		padding-left: 12px;
	}
	.profile__text {
		margin: 25px 0 0;
		font-size: 14px;
		line-height: 25px;
	}
	.profile__text:first-child {
		margin: 90px 0 0;
	}

}